.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.all {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* color: red; */
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#fff5fa, #e3faff);
}

.right {
  margin-left: auto;
}

.flexClothes {
  display: flex;
  flex-wrap: wrap;
  width: 329px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.leftSide {
  display: flex;
  flex-wrap: wrap;
}

.rightSide {
  display: flex;
  flex-wrap: wrap;
}

.left {
  margin-right: auto;
}

.dmulogo {
  height: 50px;
  margin-top: 20px;
  margin-left: 20px;
}

.menuicon {
  height: 30px;
  margin: 10px;
  margin-top: 20px;
}

.randomClothes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backgroundSilouette {
  border: 2px dotted grey;
  /* filter: drop-shadow(0 0 0.5rem crimson); */
  border-radius: 45px;
  background: #ffffdc;
  /* background-image: linear-gradient(red, yellow, blue); */
  padding: 20px;
  height: 531px;
  width: 229px;
  background-position-y: 20px;
  background-image: url("https://res.cloudinary.com/dok2ttvhu/image/upload/v1574689037/Silouette_relief_blank_imm4sn.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.backgroundSilouetteLoading {
  border: 2px dotted grey;
  /* filter: drop-shadow(0 0 0.5rem crimson); */
  border-radius: 45px;
  background: #ffffdc;
  /* background-image: linear-gradient(red, yellow, blue); */
  padding: 20px;
  height: 531px;
  width: 229px;
  background-position-y: 20px;
  background-image: url("https://res.cloudinary.com/dok2ttvhu/image/upload/v1575801351/Unbenannt5_ez291q.gif");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.favoriteIcon {
  filter: drop-shadow(0 0 0rem white);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.favoriteIconTrans {
  color: crimson;
  filter: drop-shadow(0 0 0.75rem crimson);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.shuffleButtonsAll {
  z-index: 10;
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.shuffleButton {
  z-index: 10;
  margin-left: 10px;
  margin-right: 10px;
}

.sectionHead{
  margin: auto;
  margin-bottom: 20px;
  font-family: "Lucida Console", Monospace;
}


.arrowDS {
  filter: drop-shadow(0 0 0.25rem #506ffa);
}

.arrowDSBottom {
  margin-top: 0px;
  opacity: 1;
  filter: drop-shadow(0 0 0.1rem #506ffa);
}

.arrowDSBottomDiv {
  width: 30px;
  height: 35px;
}

.face {
  z-index: 3;
  height: 85px;
  margin-right: 5px;
  width: auto;
}


.topImage {
  /* z-index: 0; */
  margin-top: -20px;
  height: 200px;
  opacity: 1;
}

.topImageDiv {
  z-index: 2;
}

.bottomImage {
  margin-top: -40px;
  height: 215px;
  opacity: 1;
}

.bottomImageDiv {
  z-index: 1;
  opacity: 1;
}

.shoes {
  z-index: 0;
  opacity: 1;
  margin-top: -20px;
  width: 180px;
  height: 55px;
  vertical-align: bottom;
  position: relative;
}

.shoesSF {
  opacity: 1;
  margin-top: -20px;
  width: 78%;
  height: 10%;
  vertical-align: bottom;
  position: relative;
}

.shoeImage {
  position: absolute;
  z-index: 1;
  width: 80px;
  height: auto;
  bottom: 0;
  left: 90px;
}

.shoeImageLeft {
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: 1;
  transform: rotateY(180deg);
  height: auto;
  width: 80px;
}

.cardwrapper {
  display: flex;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.photo {
  width: 300px;
  height: 260px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 14px;
}

@media only screen and (max-width: 415px) {
  .photo {
    width: 300px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 14px;
  }
  .photoMaskOverlayImage {
    opacity: 0;
  }
  .photoMaskOverlayImage_after {
    opacity: 0;
  }
}

.photoMaskOverlay {
  position: absolute;
  z-index: 1;
}

.photoCamera {
  position: absolute;
  width: 200px;
}

.photoMaskOverlayImage {
  position: absolute;
  width: 300px;
  border-radius: 45px;
  filter: drop-shadow(0 0 0.5rem crimson);
  z-index: 2;
  top: 0;
  left: 0;
}

.photoMaskOverlayImage_after {
  position: absolute;
  width: 300px;
  border-radius: 45px;
  filter: drop-shadow(0 0 0.5rem blue);
  z-index: 2;
  top: 0;
  left: 0;
  transition-property: all;
  transition-duration: 0.2s;
  /* transition-timing-function:ease; */
}

.photoIconsDiv {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.photoIcon {
  transform: rotateY(0deg);
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.photoIconHidden {
  transform: rotateY(90deg);
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

#container-circles {
  z-index: 3;
}

.slider {
  position: relative;
}

/* .slideImage{
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: auto;
  opacity: 1;
  transform: translateX(0%);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function:ease;
} */

/* 
.slideImageRight{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0%;
  width: 150px;
  height: auto;
  transform: translateX(100%);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function:ease;
}

.slideImageLeft{
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: auto;
  opacity: 0%;
  transform: translateX(-100%);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function:ease;
} */

.slideImageTop {
  margin-top: -20px;
  height: 200px;
  opacity: 1;
  transform: translateX(0%);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.slideImageRightTop {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -20px;
  opacity: 0%;
  height: 200px;
  transform: translateX(100%) rotate3d(0, 1, 0, 90deg) scale(0.8, 0.8);
  /* transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function:ease;   */
}

.displayNone {
  display: none;
}

.slideImageLeftDisplayNone {
  display: none;
}

.slideImageLeftTop {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  opacity: 0%;
  margin-top: -20px;
  transform: translateX(-100%) rotate3d(0, 1, 0, 90deg) scale(0.8, 0.8);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.slideImageBottom {
  margin-top: -40px;
  height: 215px;
  opacity: 1;
  transform: translateX(0%);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.slideImageRightBottom {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0%;
  height: 215px;
  margin-top: -40px;
  transform: translateX(100%) rotate3d(0, 1, 0, 80deg) scale(0.8, 0.8);
}

.slideImageLeftBottom {
  position: absolute;
  left: 0;
  top: 0;
  height: 215px;
  opacity: 0%;
  margin-top: -40px;
  transform: translateX(-100%) rotate3d(0, 1, 0, 80deg) scale(0.8, 0.8);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.slideImageShoe {
  margin-top: 0px;
  width: 180px;
  height: 55px;
  opacity: 1;
  vertical-align: bottom;
  position: relative;
  transform: translateX(0%);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.slideImageRightShoe {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0%;
  margin-top: -20px;
  width: 180px;
  height: 55px;
  transform: translateX(100%) rotate3d(0, 1, 0, 80deg) scale(0.8, 0.8);
}

.slideImageLeftShoe {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0%;
  margin-top: -20px;
  width: 180px;
  height: 55px;
  transform: translateX(-100%) rotate3d(0, 1, 0, 80deg) scale(0.8, 0.8);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.slideShoeRight {
  position: absolute;
  width: 80px;
  height: auto;
  bottom: 0;
  left: 90px;
}

.slideShoeLeft {
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: 1;
  transform: rotateY(180deg);
  height: auto;
  width: 80px;
}

.buttonTest {
  color: blue;
}

.snackbar {
  background-color: red;
}

.backgroundSilouetteResponsive {
  height: 275px;
  width: 114px;
  background-image: url("https://res.cloudinary.com/dok2ttvhu/image/upload/v1574689037/Silouette_relief_blank_imm4sn.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.backgroundSilouetteResponsiveFav {
  border: 2px dotted grey;
  border-radius: 25px;
  height: 275px;
  width: 114px;
  background-image: url("https://res.cloudinary.com/dok2ttvhu/image/upload/v1574689037/Silouette_relief_blank_imm4sn.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.faceResponsive {
  z-index: 3;
  height: 42px;
  margin-right: 5px;
  width: auto;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.topImageResponsive {
  /* z-index: 0; */
  margin-top: -10px;
  height: 100px;
  opacity: 1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.topImageDivResponsive {
  z-index: 2;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.bottomImageResponsive {
  margin-top: -20px;
  height: 107px;
  opacity: 1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.bottomImageDivResponsive {
  z-index: 1;
  opacity: 1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.shoesResponsive {
  z-index: 0;
  opacity: 1;
  margin-top: -10px;
  width: 90px;
  height: 27px;
  vertical-align: bottom;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.shoeImageResponsive {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: auto;
  bottom: 0;
  left: 45px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.shoeImageLeftResponsive {
  position: absolute;
  left: 5px;
  bottom: 0;
  z-index: 1;
  transform: rotateY(180deg);
  height: auto;
  width: 40px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
