.demo-image-preview {
  position: relative;
  text-align: center;
}

.demo-image-preview > img {
  width: 300px;
  border-radius: 45px;
  
}

@media(max-width:300px){
  .demo-image-preview > img {
    width: 300px;
  }
}

/* fullscreen enable by props */
.demo-image-preview-fullscreen > img {
  width: 300px;
  height:300px;
}

